# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [4]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [6]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }

vendas_df = pd.DataFrame(venda)
#tabela_vendas = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [7]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [8]:
#Tranformando em um dataframe
vendas_df = pd.read_excel('Vendas.xlsx')
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [ ]:
# Método que visualiza os primeiro elementos do dataframe/tabela
display(vendas_df.head())
display(vendas_df.head(10))

In [11]:
# Esse método mostra quantos linhas e colunas tem na nossa tabela
display(vendas_df.shape)

(93910, 7)

In [13]:
# Ele mostra as informações da tabela como produto mais barato, mais produto vendido
display(vendas_df.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [11]:
# Aqui é uma serie
#produto = vendas_df['Produto']
#display(produto)

# Agora aqui é uma tabela porqeu tem duas série
produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

NameError: name 'vendas_df' is not defined

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [ ]:
# o loc pega apenas uma linha de tal coluna ou a coluna de tal linha localizando pelo indice 18:12

#pegando a primeira linha
display(vendas_df.loc[1])

#pegando a primeira linha até a 5
display(vendas_df.loc[1:5])

In [ ]:
# Dentro da coluna ID LOja Pegando todas as linhas com o nome Norte Shopping 

# Display uso para exibir os elementos
display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

# Guardando dentro da variavel
norteshoppinging = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']


# Pegando apenas algumas colunas especificas 22:04

In [ ]:
# Pegar várias linhas e colunas usando o loc
# Como pegar apenas algumas colunas que tem 'Norte Shopping'
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
display(vendas_norteshopping_df)

NameError: name 'vendas_df' is not defined

### Adicionar 1 coluna

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

### Excluir linhas e colunas

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

### Calcular Indicadores
    - Groupby
    - Value Counts

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição